@import "font-awesome";

body {
  margin: 0;
  font-family: 'Poly', serif;
  background: #fff;
}

a {
  color: #008EC1;
  text-decoration: none;
}

footer {
  background-color: #2f2f2f;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;

  .about {
    float: left;
    margin: 17px 0 0 50px;
    a {
      color: #FFFFFF;
      &:hover {
        color: #008EC1;
      }
    }
  }

  .social {
    margin: 12px 50px 0 0;
    float: right;

    a {
      color: #FFFFFF;
      &:hover {
        color: #008EC1;
      }
    }
    i {
      margin: 0 10px;
    }
  }
}

.content {
  margin: 0 auto;
  width: 900px;
  font-size: 20px;
}

section {
  margin-top: 40px;
}

h1 {
  font-family: 'Alfa Slab One', cursive;
  font-weight: normal;
  font-size: 45px;
  &.part1 {
    margin-bottom: 0;
  }
  &.part2 {
    margin: 0;
    text-align: right;
  }
  .blue {
    color: #008EC1;
  }
}

p {
  text-align: justify;
  font-size: 20px;
}

.email_signup {
  width: 400px;
  margin: 30px auto;
  height: 190px;
}

.newsletter {
  .field {
    width: 100%;
    padding: 13px 10px 12px;
    border-radius:10px;
    border:2px solid #3FAED5;
    font-size:18px;
    -moz-box-shadow:inset 0 2px 2px 2px #f7f7f7;
    -o-box-shadow:inset 0 2px 2px 2px #f7f7f7;
    -webkit-box-shadow:inset 0 2px 2px 2px #f7f7f7;
    box-shadow:inset 0 2px 2px 2px #f7f7f7;
    margin-bottom: 2px;

    &:focus {
      color:#363636;
      border:2px solid #0d78a0;
      box-shadow:0px 0px 9px #0dace8; -moz-box-shadow:0px 0px 9px #0dace8; -webkit-box-shadow:0px 0px 9px #0dace8;
    }
  }

  button {
    cursor:pointer;
    position:relative;
    top: 7px;
    left: 92px;
    width: 240px;
    font-size: 16px;
    font-weight:bold;
    padding: 12px 10px 11px;
    background-color:#ec5d59;
    background-image:-webkit-linear-gradient(top,#3FAED5 0,#008EC1 100%);
    background-image:-moz-linear-gradient(top,#ec5d59 0,#c33d36 100%);
    background-image:-ms-linear-gradient(top,#ec5d59 0,#c33d36 100%);
    background-image:-o-linear-gradient(top,#ec5d59 0,#c33d36 100%);
    background-image:linear-gradient(top,#ec5d59 0,#c33d36 100%);
    border:none;
    border-bottom:2px solid #2f2f2f;
    text-shadow:rgba(0,0,0,0.3) 0 1px 1px;
    border-radius:9px;
    font-weight:bold;
    color:#fff;
    &:hover {
      opacity:0.9;
    }
  }
}
