<section>
  <div class="content">
    <h1 class="part1">Want to <span class="blue">learn Ember.js</span> but</h1>
    <h1 class="part2">not sure where to start?</h1>

    <p>As I'm learning Ember.js myself I'll be documenting my progress on building real Ember application(s) so by signin up you will get:
      <ul>
        <li>two emails per month (or so) covering what I have learned</li>
        <li>links to interesting blog posts, videos, etc</li>
        <li>a buddy who's in the same learning boat as you :)</li>
      </ul>
    </p>

    <p>Is this something you would be interested in? Sign up and I'll send you a list of resources to get you started right away:</p>

    <div class="email_signup">
      <form action="http://learningemberjs.us7.list-manage2.com/subscribe/post?u=338ee385bb5b2eb31cb5389d8&amp;id=46d8479a57" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate newsletter" target="_blank" novalidate>
        <input type="text" value="" name="NAME" class="required field" id="mce-NAME" placeholder="Name">
        <input type="email" value="" name="EMAIL" class="required email field" id="mce-EMAIL" placeholder="Email">
        <button>Send me awesome stuff</button>
      </form>
    </div>
  </div>
</section>
<footer>
  <div class="about">
    by <a href="http://ugisozols.com" target="_blank">Uģis Ozols</a>
  </div>
  <div class="social">
    <a href="https://twitter.com/ugisozols" target="_blank"><i class="icon-twitter icon-2x"></i></a>
    <a href="https://github.com/ugisozols" target="_blank"><i class="icon-github icon-2x"></i></a>
  </div>
</footer>
